logic_app_workflows/lanway-la-update-employee
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Error": {
                "inputs": {
                    "statusCode": 404
                },
                "kind": "http",
                "runAfter": {
                    "Update_row": [
                        "FAILED"
                    ]
                },
                "type": "Response"
            },
            "Update_row": {
                "inputs": {
                    "body": {
                        "ID": "@{utcNow()}",
                        "address": "@triggerBody()?['address']",
                        "city": "@triggerBody()?['city']",
                        "first": "@triggerBody()?['first']",
                        "job_description": "@triggerBody()?['job_description']",
                        "last": "@triggerBody()?['last']",
                        "phone_num": "@triggerBody()?['phone_num']",
                        "salary_hourly_rate": "@triggerBody()?['salary_hourly_rate']",
                        "zip": "@triggerBody()?['zip']"
                    },
                    "host": {
                        "connection": {
                            "referenceName": "postgresql"
                        }
                    },
                    "method": "patch",
                    "path": "/datasets/default/tables/@{encodeURIComponent(encodeURIComponent('[public].[Employee]'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['employee_ID']))}"
                },
                "runAfter": {},
                "type": "ApiConnection"
            },
            "success": {
                "inputs": {
                    "statusCode": 200
                },
                "kind": "http",
                "runAfter": {
                    "Update_row": [
                        "Succeeded"
                    ]
                },
                "type": "Response"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "manual": {
                "inputs": {
                    "schema": {
                        "properties": {
                            "address": {
                                "type": "string"
                            },
                            "city": {
                                "type": "string"
                            },
                            "employee_ID": {
                                "type": "integer"
                            },
                            "first": {
                                "type": "string"
                            },
                            "job_description": {
                                "type": "string"
                            },
                            "last": {
                                "type": "string"
                            },
                            "phone_num": {
                                "type": "string"
                            },
                            "salary_hourly_rate": {
                                "type": "string"
                            },
                            "zip": {
                                "type": "integer"
                            }
                        },
                        "type": "object"
                    }
                },
                "kind": "Http",
                "type": "Request"
            }
        }
    },
    "kind": "Stateless"
}